
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Cinzel', serif;
}

.bg { 
    /* The image used */
	background-image: url("Background.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.caption span.border {
    font-size: 25px;
    letter-spacing: 10px;
}
.caption {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 10%;
    left: 0;
    color: #111;
}

div.caption {
	line-height: 2.0;
}

.pictures {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

img {
	width: 200px;
	height: 100px;
	margin: 10px;
	transition: all 1s;
}

img:hover {
	transform: scale(1.1);
}

nav{ 
    position:fixed;
    z-index:2;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Montserrat', sans-serif;
}

.btn-xl {
  padding: 1rem 2rem; 
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44; }

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 5px;
  cursor: pointer;
}